.animate__animated {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate__fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animate__fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

